[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ROCit"]
	path = ROCit
	url = https://github.com/riazakhan94/rocit
[submodule "loadshaper"]
	path = loadshaper
	url = https://github.com/riazakhan94/loadshaper
